
<h2>Lista de Tarefas</h2>>

<label>Tarefa</label>
<input type="text" #newTitulo/>
<label>Descrição</label>
<input type="textarea" #newDescricao/>
<button (click)="adicionarTarefa(newTitulo.value, newDescricao.value); newTitulo.value='';newDescricao.value=''">Adicionar</button>



<table>
    <tr>
      <th>Tarefa</th>
      <th>Descrição</th>
      <th>Concluido</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let tarefa of tarefas">
      <td>{{tarefa.titulo}}</td>
      <td>{{tarefa.descricao}}</td>
      <td>{{tarefa.fl_status ? 'Sim' : 'Não'}}</td>
      <td>
        <button (click)="excluirTarefa(tarefa.id)">Apagar</button>
      </td>
      <td>
        <button (click)="concluirTarefa(tarefa)">Concluir</button>
      </td>
    </tr>
  </table>
  
 



